.product__card__link{
    width: 100%;
    max-height: 30px;
    background-color: rgba(37,83,135,.8);
    text-align: center;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.product__card__link:hover{
    max-height: 180px;
    transition: max-height 0.25s ease-in;
}
a{
    text-decoration: none;
}
p {
    font-size: 14px;
}
.col-sm {
    height: 250px;
}

.card-4-1 {
    background-image: url("./assets/planta.jpg");
    background-position: center;
    background-size: cover;    
}

.card-4-2 {
    background-image: url("./assets/tanque.jpg");
    background-position: center;
    background-size: cover;
}

.card-4-3 {
    background-image: url("./assets/tanque_horizontal.jpg");
    background-position: center;
    background-size: cover;
}

.card-4-4 {
    background-image: url("./assets/brindis.jpg");
    background-position: center;
    background-size: cover;
}

.card-2-1 {
    background-image: url("./assets/planta.jpg");
    background-position: center;
    background-size: cover;
}

.card-2-2 {
    background-image: url("./assets/cañerias.jpg");
    background-position: center;
    background-size: cover;
}

.card-1 {
    background-image: url("./assets/maquinaria.jpg");
    background-position: center;
    background-size: cover;
}